
p {
    color: rgb(255, 255, 255);
    /*comentario*/ 
}
/*Estilização do corpo da página*/
body{
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1;
    font-family: "Tahoma", "Arial";
    background-color: black;

}
/*Estilização da Sessão HEADER da pagina*/
header{
    background: linear-gradient(#700f0f, #000000);
    padding: 2px 0;
}
/*Estilização da Sessão NAV (navegação da pagina*/
nav{
    position: absolute;
    top: 120px;
    right: 0%;
}
nav li {
    display: inline;
    margin: 0 0 0 55px;
}
nav a {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-size: 27px;
    text-decoration: none;

}
nav a:hover{
    color: #3ab640;
    text-decoration: underline;

}
/*Estilização das listas da página*/
ul{
    list-style: none;
}
/*Estilização do logotipo*/
.logo_caixa{
    width: 800px;
    height: 300px;
    position: relative;
    right: 0%;

}
.logo{
    width: 20%;
}

.imagem{
    width: 20%;
}

/*Estilização do logotipo */
.logo_caixa{
    width: 1240px;
    position: relative;
    margin: auto;
}
/*Banner*/
.banner{
    width: 100%;
}
/*Estilização da área "Sobre"*/
.titulo-principal{
    text-align: center;
    font-size: 2em;/*dobro da fonte padrão*/
    margin: 0 0 1em;
    padding: 0;
    clear: left !important;
    color:#ffffff ;
}

.principal{
    width: 100%;
    margin: 0 ;
    padding: 3em 0;
    background-color: black;
    text-align: justify;
}
.conteudo{
    width: 80%;
    padding-left: 20%;
}
.principal strong{
    font-weight: bold;
}
.principal em{
    font-style: italic;
}
.pizzawallpaper{
    width: 100px;
    float: left;
    margin: 0 20px 20px 0;
    padding: 0;
}
/*Estilização do Mapa*/
.map {
    padding: 3em 0;
    background: linear-gradient(#000000, #700f0f)
}
.mapa-conteudo{
    width: 620px;
    margin: 0 auto;
}
.map p{
    margin: 0 0 2em;
    text-align: center;
}
/*Área Benefícios e Vídeo*/
.beneficios {
    padding: 3em 0;
    background: linear-gradient(#700f0f, #000000)
}
.conteudo-beneficio {
    width: 640px;
    margin: 0 50px;
}
.lista-beneficio {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    color: #ffffff;
    font-weight: bold;
    margin-left: 500px;
}
.img_beneficios {
    width: 50%;
    opacity: 3;
    transition: 400ms;
    margin-top: -180px;
    margin-left: 150%; 
    
}
.img_beneficios:hover {
    opacity: 0.7;
}
.itens{
    line-height: 1.5;
}
.itens:before{
    content: "★";
    font-size: larger;
}
.itens:first-child{
    font-weight: bold;
}
.video {
    width: 560px;
    margin: 2em auto;
}
footer{
    text-align: center;
    background: url();
    padding: 40px 0;
}
/*Banner*/
.banner{
    width: 100%;
}
/*Copyright*/
.copyright{
    color: #ffffff;
    font-size: 13px;
    margin: 20px 0 0;
}